@font-face {
  font-family: 'Manrope';
  src: url('/assets/fonts/Manrope-Bold.woff2') format('woff2'),
    url('/assets/fonts/Manrope-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('/assets/fonts/Manrope-Medium.woff2') format('woff2'),
    url('/assets/fonts/Manrope-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-family: 'Manrope', 'Arial', sans-serif;

  --color-dark-grayish-blue: #48556a;
  --color-dark-blue: #6e8098;
  --color-grayish-blue: #9daec2;
  --color-light-grayish-blue: #ecf2f8;
  --color-white: #ffffff;
}

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  border: none;
  border-radius: 0;

  background: none;
  box-shadow: none;
}

body {
  min-height: 100vh;
  font-family: var(--font-family);
  font-size: 13px;
  font-weight: 500;
  line-height: 1.54;
  letter-spacing: 0.12px;
  color: var(--color-dark-blue);
  background-color: var(--color-light-grayish-blue);
}

button,
input,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.main {
  padding: 74px 24px 81px;

  @media (min-width: 900px) {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  }
}

.preview-card {
  position: relative;
  max-width: 429px;
  margin: 0 auto;
  background-color: var(--color-white);
  border-radius: 10px;
  box-shadow: 0 40px 40px -10px rgba(201, 213, 225, 0.5);
  overflow: hidden;

  @media (min-width: 900px) {
    display: grid;
    grid-template-columns: 285px 1fr;
    grid-template-rows: 280px;
    max-width: 730px;
    overflow: visible;
  }
}

.preview-card__image {
  aspect-ratio: 1.635 / 1;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 -15px;
  }

  @media (min-width: 900px) {
    aspect-ratio: auto;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;

    img {
      object-position: 0 0;
    }
  }
}

.preview-card__content {
  padding: 36px 32px 20px;

  @media (min-width: 900px) {
    padding: 32px 40px;
  }
}

.preview-card__content.active {
  padding-bottom: 12px;
  animation: paddingDecrease 0.5s ease-in-out;

  .preview-card__share-button {
    background-color: var(--color-dark-blue);

    svg path {
      fill: var(--color-white);
    }
  }
}

.preview-card__title {
  margin-bottom: 12px;
  font-size: clamp(16px, 3.2vw + 2px, 20px);
  font-weight: 700;
  line-height: 1.5;
  color: var(--color-dark-grayish-blue);
  letter-spacing: 0.2px;

  @media (min-width: 500px) {
    line-height: 1.4;
  }
}

.preview-card__description {
  margin-bottom: 32px;

  @media (min-width: 900px) {
    margin-bottom: 20px;
  }
}

.preview-card__footer {
  display: grid;
  grid-template-columns: 40px 1fr 32px;
  align-items: center;
  gap: 16px;

  @media (min-width: 900px) {
    position: relative;
  }
}

.preview-card__author-avatar {
  grid-column: 1 / 2;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.preview-card__author-name {
  font-weight: 700;
  color: var(--color-dark-grayish-blue);
}

.preview-card__share-button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--color-light-grayish-blue);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  z-index: 1;

  &:hover {
    background-color: var(--color-dark-blue);

    svg path {
      fill: var(--color-white);
    }
  }
}

.preview-card__share-popup {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 22px 32px;
  background-color: var(--color-dark-grayish-blue);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

  @media (min-width: 900px) {
    top: -79px;
    right: 0;
    bottom: auto;
    left: auto;
    padding: 18px 36px 17px 37px;
    border-radius: 10px;
    box-shadow: 0 10px 10px 0 rgba(201, 213, 225, 0.5);
    transform: translateX(calc(50% - 16px));

    &::after {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      content: '';
      width: 0;
      height: 0;
      border: 12px solid var(--color-dark-grayish-blue);
      border-left-color: transparent;
      border-right-color: transparent;
      border-bottom-width: 0;
    }
  }
}

.preview-card__share-popup.active {
  display: flex;
  align-items: center;
  animation: openPopup 0.5s ease-in-out;
}

.preview-card__share-title {
  margin-right: 17px;
  font-size: 13px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 5px;
  color: var(--color-grayish-blue);
  text-transform: uppercase;
}

.socials {
  display: flex;
  align-items: center;
  gap: 16px;
}

.socials__link {
  display: block;
}

.socials__link--facebook {
  width: 20px;
  height: 20px;
  background-image: url('/images/icon-facebook.svg');
  background-size: cover;
}

.socials__link--twitter {
  width: 20px;
  height: 17px;
  background-image: url('/images/icon-twitter.svg');
  background-size: cover;
}

.socials__link--pinterest {
  width: 20px;
  height: 20px;
  background-image: url('/images/icon-pinterest.svg');
  background-size: cover;
}

@keyframes openPopup {
  0% {
    transform: translateY(64px);
  }

  100% {
    transform: translateY(0);
  }
}

@media (min-width: 900px) {
  @keyframes openPopup {
    0% {
      transform: 0;
      opacity: 0;
    }

    100% {
      transform: 0;
      opacity: 1;
    }
  }
}

@keyframes paddingDecrease {
  0% {
    padding-bottom: 20px;
  }

  50% {
    padding-bottom: 12px;
  }
}
